<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/web.css">
    <title>Out of Spite</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet"> 
    <style>
      body {
        font-family: 'Quicksand', sans-serif;
      }
    </style>


    <script  type="text/javascript">

    </script>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['line']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

var data = new google.visualization.DataTable();
data.addColumn('string', 'Day');
data.addColumn('number', 'Your Usage');
data.addColumn('number', 'Average Usage');

data.addRows([['0 days ago', 91.30000000000001, 20.0], ['1 days ago', 86.6, 20.0], ['2 days ago', 117.5, 20.0], ['3 days ago', 104.00000000000003, 20.0], ['4 days ago', 97.10000000000002, 20.0], ['5 days ago', 25.0, 20.0], ['days ago', 0.0, 0.0]]
);

var options = {
  chart: {
  },
  width: 900,
  height: 500
};

var chart = new google.charts.Line(document.getElementById('linechart_material'));

chart.draw(data, google.charts.Line.convertOptions(options));
}
    </script>




</head>

<body>
    <div class="tree" >
        <div id="treediv">
        <script>      
            var el = document.getElementById('treediv');
            var image; 
            if  ( {{points}} < 50) {
                image = '<img src="/static/Images/Tree1.jpg" alt="sapling" style="width:500px;">';
            }else if({{points}}<100){
                image = '<img src="/static/Images/Tree2.jpg" alt="teen tree" style="width:500px;">';
            }else if ({{points}}<200){
                image = '<img src="/static/Images/Tree3.jpg" alt="adult tree" style="width:500px;">';
            }else{
                image = '<img src="/static/Images/Tree4.jpg" alt="ancient tree" style="width:500px;">';
            }
            el.insertAdjacentHTML('afterbegin', image);
        </script>
        </div>
       <h2>Your Total Points: {{points}} </h2>




    </div>

    <div class="graphs">
        <h2>Your Carbon Footprint for This Year</h2>
        <div id="carbon">
            <script>      
                var el = document.getElementById('carbon');
                var image; 
                if  ( {{carbon}} < 0.001) {
                    image = '<img src="/static/Images/Green.jpg" alt="good footprint" style="width:500px;">';
                }else if({{carbon}}<0.002){
                    image = '<img src="/static/Images/Yellow.jpg" alt="ok footprint" style="width:500px;">';
                }else{
                    image = '<img src="/static/Images/Red.jpg" alt="bad footprint style="width:500px;">';
                }
                el.insertAdjacentHTML('afterbegin', image);
            </script>
        </div>



        <h2>Average Electricy usage in a household</h2>
        <div id="linechart_material" style="width: 900px; height: 500px"></div>

        <p>
            {{pointGraph}}
        </p>

        
    </div>

    <div class="leaderboard">
        <h2>
            Compete with your freinds or neighbours!
        </h2>

        
    </div>

    <div class="badges">
        <h2>
            Badges you have earnt!
        </h2>

        <div id='left'>
            <script>      
                var el = document.getElementById('left');
                var image; 
                if  ( {{badge1}}) {
                    image = '<img src="/static/Images/kiwi_app_icon.PNG" alt="log in" style="width:100px;">';
                el.insertAdjacentHTML('afterbegin', image);
            </script>

        </div>

        <div id='center'>

        </div>

        <div id='right'>

        </div>

        
    </div>



</body>

</html>