body{
    background-color: white;
}

img {
    max-width: 500px;
    max-height: 500px;
}

.tree{
    padding: 10px 30px;
    margin:10px 30px;
    background-color: #d0edcb;

}

#treediv{
    max-height:500px;
    max-width: 500px;
  }

.graphs{
    padding: 10px 30px;
    margin:10px 30px;
    background-color: #fff2b2;

}

#linechart_material{
   
  margin-left: auto;
  margin-right: auto;
  margin-top: 3px;
  margin-bottom: 3px;
  text-align: center;
  display: flex;
  justify-content: center;
}


.leaderboard{
    padding: 10px 30px;
    margin:10px 30px;
    background-color: #fae6e8;

}

.badges{
    padding: 10px 30px;
    margin:10px 30px;
    background-color: #e5f1fb;
    text-align: center;

}

#left {
    float:left;
    width:100px;
}

#center {
    display: inline-block;
    margin:0 auto;
    width:100px;
}

#right {
    float:right;
    width:100px;
}
